<script type="module">
  import { DescriptionList, mountDescriptionListSvelte } from "<mt:var name="static_uri">plugins/DescriptionListField/dist/svelte.js?v=<mt:var name="mt_version_id" escape="url">";
  ContentTypeEditor.registerCustomType("description-list", mountDescriptionListSvelte);
</script>
